@use '../util/variables.scss' as *;
@use '../util/mixins' as *;

.main {
  padding-block: 64px 96px;
  background-color: $main-bg-color;
  @include contentPaddingInline;
  @include onTablet {
    padding-block: 120px;
  }
}

.section-title {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  @include onTablet {
    font-size: 40px;
    line-height: 40px;
  }
  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }

  &--recommended {
    margin-bottom: 48px;
    text-align: center;
    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &--categories {
    margin-block: 96px 48px;
    text-align: center;
    @include onTablet {
      margin-block: 120px 64px;
    }
  }

  &--how-to-buy {
    margin-block: 96px 32px;
    @include onTablet {
      margin-block: 120px 0;
    }
  }
  
  &--contacts {
    margin-block: 96px 48px;
    text-align: center;
    @include onTablet {
      margin-block: 120px 48px;
    }
  }
}