.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../image/image-bg-header.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heager__waves {
  background-image: url(../../image/sound-waves.png);
  height: 58px;
  width: 48px;
  margin-bottom: 16px;
}

.header__title{
  margin: 0;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.header__bottom {
  padding: 0 20px 40px;
}
