.icon {
  height: 24px;
  width: 24px;
  display: block;
}
.icon--phone {
  background-image: url(../../image/icon/icon-phone.png);
}
.icon--menu {
  background-image: url(../../image/icon/icon-burger-menu.png);
}
.icon--close {
  background-image: url(../../image/icon/icon-close.png);
}
