$main-font-family: 'Inter', sans-serif;
$main-text-color: #292929;
$main-bg-color: #fff;
$contact-main-text-color: #3E3E3E;
$contact-secondary-text-color: #7E7E83;
$button-color: #292929;
$button-font-color: #fff;
$form-bg-color: #F8F8FA;
$form-border-color: #D5D7DE;
$transition-time: 0.3s;
